* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6B5B95;
}

h1 {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1,
h2 {
    text-align: center;
}

.form-tab {
    top: -4px;
    position: absolute;
    display: flex;
    width: 80%;
    margin: auto auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    flex-wrap: wrap;
}

.form-tab button {
    padding: 4px;
    width: 100%;
    background-color: #353a7b;
    color: #fff;
    outline: none;
    font-size: 22px;
}

header {
    list-style-type: none;
    margin: auto auto;
    width: 80%;
}

.form-tab-menu ul {
    display: flex;
    list-style-type: none;
}

.form-tab-menu li {
    padding: 12px;
    border-radius: 4px;
    background-color: #c7c5da;
    margin-left: 12px;
}

.form-tab-menu li.active,
.form-tab-menu li:hover {
    background-color: #fff;
    cursor: pointer;
}

.form-tab .form-tab-item {
    display: flex;
}

.form-tab .form-tab-item label {
    font-weight: bold;
    color: #222;
    font-size: 12px;
}

.form-tab .form-tab-item input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #fafafb;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 4px;
    padding: 12px;
    font-size: 16px;
}